@charset 'UTF-8';

:root {

  --y-axis-page-align: flex-start;
  --x-axis-page-align: center;
  --align-text: center;

  --color-accent-1: rgb(77, 166, 81);
  --color-accent-2: lime;
  --color-accent-3: limegreen;
  --color-accent-4: limegreen;

  --color-logo: white;

  --color-main-1: #222;
  --color-main-2: #111;
  --color-main-3: lime;

  --background-color: transparent;
  --background-border-color: #1d1d1d;
  --border-bg-color: #222;

  --background: #000;

  --border-type: double;
  --border-thickness: 4px;
  --border-radius: 0px;
  --border-color: lime;

  --scrollbar-width: 5px;
  --scrollbar-track: #111;
  --scrollbar-handle: grey;

  --max-width: 1000px;

  --font-primary: 'Open Sans', monospace;
  --font-secondary: 'pcSenior', monospace;
  --font-header: 'Open Sans', monospace;
  --font-logo: 'pcSenior', monospace;
  --font-size: 100%;

}

@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

@font-face {
  font-family: 'pcSenior';
  src:
    local('PC Senior'),
    url('/assets/fonts/pcsenior.ttf') format('truetype');
}

@font-face {
  font-family: 'EXEPixelPerfect';
  src:
    local('EXEPixelPerfect'),
    url('/assets/fonts/EXEPixelPerfect.ttf') format('truetype');
}

@font-face {
  font-family: 'kirbyss';
  src:
    local('kirbyss'),
    url('/assets/fonts/kirbyss.ttf') format('truetype');
}

@font-face {
  font-family: 'ROADWAY';
  src:
    local('ROADWAY'),
    url('/assets/fonts/ROADWAY_.ttf') format('truetype');
}

@font-face {
  font-family: 'orange_kid';
  src:
    local('orange_kid'),
    url('/assets/fonts/orange_kid.ttf') format('truetype');
}
body {
  padding: 0 40px;
}
